<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>

<h1>Hello, world!</h1>
<p>Bem-vindo ao meu primeiro site em Node.js e Express.js</p>
<hr/>
<!-- 
<p><a href="/perfil">Ir para o perfil</a></p>
<p><a href="/clientes">Ir para clientes</a></p>
<p><a href="/produtos">Ir para produtos</a></p>
<p><a href="/servicos">Ir para servicos</a></p> 
-->

<img src="/imgs/imagem-site.jpg" alt="Peter invadindo casa do joel" height="300px">

<%- include('partials/footer.ejs')%>